{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend разработчик</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <h1>Информация о профессии "Backend разработчик"</h1>
    </header>
    <div>
        <nav>
        <ul>
            <li><a href = "{% url 'main' %}">Главная</a></li>
            <li><a href = "{% url 'demand' %}">Востребованность</a></li>
            <li><a href = "{% url 'geography' %}">География</a></li>
            <li><a href = "{% url 'skills' %}">Навыки</a></li>
            <li><a href = "{% url 'last' %}">Последние вакансии</a></li>
        </ul>
    </nav>
    
    <main>
        {% block main %} {% endblock %}
    </main>
    </div>
    <footer>
        <p>Стерхов Максим Константинович</p>
        <p>РИ-220911</p>
    </footer>
</body>
</html>