{% extends 'base.html' %}
{% block main %}
    <h2>Последние вакансии</h2>
    <div style="display: grid">
    <ul>
        {% for vacancy in vacancies %}
            <li>
                <h3>Название:</h3>
                <p>{{ vacancy.name }}</p>
                <h4>Описание:</h4>
                <p>{{ vacancy.description }}</p>
                <h4>Навыки:</h4>
                <p>{{ vacancy.key_skills }}</p>
                <h4>Компания:</h4>
                <p>{{ vacancy.employer_name }}</p>
                <h4>Оклад:</h4>
                <p>{{ vacancy.salary }}</p>
                <h4>Город:</h4>
                <p>{{ vacancy.area_name }}</p>
                <h4>Дата публикации:</h4>
                <p>{{ vacancy.published_at }}</p>
            </li>
        {% endfor %}
</ul>
    </div>
{% endblock %}