{% extends 'base.html' %}
{% load static %}
{% block main %}
    <h2>Backend-разработчик</h2>
    <h3>Кто такой Backend-разработчик?</h3>
    <p>Бэкенд-разработчик — это программист, который отвечает за внутреннюю и вычислительную логику веб-сайта или веб-приложения, а также иного программного обеспечения и информационных систем. Строго говоря, бэкенд бывает не только у веб-решений, он есть и у десктопа, и у мобильных приложений, т.к. по сути бэкенд — это всё, что относится к программно-аппаратной части сервиса. Но исторически так сложилось, что бэкенд и фронтенд начали особенно явно выделять именно в веб-разработке, т.к. это самая популярная на данный момент сфера программирования.</p>
        <h3>Какие навыки нужны для работы Backend разработчиком?</h3>
        <div class="container">
            <ul>
                <li>Знание хотя бы одного «серверного» языка программирования: PHP, Go, ASP.NET, C/C++, Python, Ruby, Java.</li>
                <li>Понимание принципов работы серверов Apache, NGINX, IIS и проч.</li>
                <li>Навыки написания юнит-тестов и покрытия кода тестами.</li>
                <li>Основы сетевой безопасности и знание инструментов её обеспечения.</li>
                <li>Знание популярных веб-фрейморков, которые способны решать задачи разработки конкретного приложения.</li>
                <li>Навыки написания запросов к БД и проектирования баз данных.</li>
                <li>Знание основ фронтенда — и это не плюс, а обязательный пункт, иначе вам придётся крайне непросто проектировать и писать приложение.</li>
            </ul>
            <img src="{% static '/images/BackendIMG.png' %}" height="400" width="600" alt="backend">
        </div>
        <h3>Гду нужен?</h3>
        <p>Как и в случае с фронтенд-разработкой, абсолютно везде, где есть сайт или приложение, которое в вебе взаимодействует с пользователем. Другое дело, что всем нужны бэкендеры разного уровня: в офисе условной социальной сети или крупного сайта объявлений бэкенд-разработчик обязан не просто иметь базовые навыки, но и работать с высокими нагрузками, микросервисной архитектурой и контейнеризацией (Docker, Kubernetes), знать системы мониторинга (типа Zabbix, Grafana), иметь навыки Scrum (опционально для конкретных компаний). А для небольшого интернет-магазина вполне достаточно связки PHP-Ajax-нужная СУБД-немного HTML, иногда и того меньше. Понятно, что и оплата труда, и требования к опыту также совершенно разные.</p>
        <h3>Сколько зарабатывают Backend-разработчик?</h3>
        <div class="container">
            <div>
                <p>По данным Glassdoor, средняя зарплата Backend-разработчика в США – 115 604 долларов (на июнь 2022 года). Она может варьироваться в зависимости от местоположения, стажа и других факторов.</p>
                <p>Backend-разработчики пользуются большим спросом. По данным Бюро статистики труда США, ожидается, что позиции таких разработчиков вырастут на 13% в период с 2020 по 2030 год.</p>
                <p>Что касается России, сейчас на эту позицию открыты более 5 тыс вакансий. Средняя зарплата Backend-разработчика от 110 тыс рублей в месяц, самая высокооплачиваемая позиция доходит до 500 тыс рублей в месяц. Так, можно с уверенностью сказать: если вы решите начать этот карьерный путь, у вас не будет проблем с поиском работы и заработком.</p>
            </div>
            <img src="{% static 'images/backendMain.jpg' %}" width="600" height="400" alt="backend">
        </div>
            {% endblock %}